
.title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
  }
  
  .address {
    margin-top: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th {
    cursor: pointer;
  }
  
  th:hover {
    background-color: #f1f1f1;
  }
  
  input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
  }
  
.datetime-picker {
    position: relative;
    margin-bottom: 1em;
  }
  
  .datetime-picker label {
    display: block;
    margin-bottom: 0.5em;
  }
  
  .datetime-picker .form-control {
    width: 100%;
    padding: 0.5em;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  